useDynLib("event")

import(rmutil)

export(autointensity,
coxre,print.llrf,
cprocess,
ehr,pp,ident,tpast,ttime,bp,tccov,tvcov,vdm,deviance.intensity,print.intensity,
hboxcox,hburr,hcauchy,hexp,hgextval,hgamma,hggamma,hhjorth,hinvgauss,hlaplace,hlnorm,hlogis,hglogis,hnorm,hpareto,hstudent,hweibull,hgweibull,hskewlaplace,
kalsurv,deviance.kalsurv,fitted.kalsurv,residuals.kalsurv,print.kalsurv,
km,print.km,plot.km,plot.surv,plot.intensity,plot.intensity.default,plot.intensity.km,plot.dist,plot.dist.km,
pbirth,deviance.pbirth,print.pbirth,
survkit,residuals.survivalkit,print.survivalkit,baseline,baseline.survivalkit,survival,survival.survivalkit)
